.banner-container {
    position: relative;
    background-position: 0px -100px;
    min-height: 850px;
    text-align: center;
    background-image: url('../../../images/banner.jpg');
    border-radius: 0 0 20% 20%;
    background-size: cover;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 10%;
    color: white;
    border-radius: 0 0 20% 20%;

}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem
}

.banner-info p {
    /* font-size: 17px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.btn-purchase {
    width: 215px;
    height: 48px;
    background-color: rgb(194, 160, 112);
    cursor: pointer;
    border: none;
    letter-spacing: 4px;
    color: white;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 200px;
}