.read-btn {
    width: 177px;
    height: 48px;
    background-color: rgb(207, 175, 95);
    cursor: pointer;
    border: none;

    color: white;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}